{% extends '/basic/BasicConfig.html' %}

{% block styles %}
{{ super() }}
<style>
body {
    background-color: #100F16;
}

.cen_story {
    position: relative;
    padding-top:100px;
    padding-left:500px;
}

.entry {
    position: absolute;
    height:40px;
    bottom:15px;
    left: 620px;
}

#start:hover {
    height:42px;
    cursor: pointer;
    opacity: 90%;
}
</style>
{% endblock %}

{% block content%}
    <div class="cen_story">
        <div>
            <img src="/static/welcome/bg1.png" height="650px" oncontextmenu="return false;" ondragstart="return false;">
            <div class="entry">
                <a href="{{ url_for('guide.login') }}">
                    <img id="start" src="/static/welcome/bu.png" height="40px"
                            oncontextmenu="return false;" ondragstart="return false;">
                </a>
            </div>
        </div>
    </div>
{% endblock %}