<!--        {% for d in data %}-->
            <div class="col col-md-9 question-wrapper">
<!--            {{d}}-->
    <!--                        {% set Qloop = loop %}-->
    <!--                        {% if d['type'] == 'mcq' %}-->
    <!--                            {{mcq(Qloop,d,0)}}}-->
    <!--                        {% elif d['type'] == 'csv' %}-->
    <!--                            {{mcq(Qloop,d,0)}}-->
    <!--                        {% endif %}-->
            </div>
<!--        {% endfor %}-->