{# take option for mutiple select #}
{% macro option(key1, key2,option) %}
<div class="radio">
    <label>
        <input type="radio" value="{{key2-1}}" name="{{key1}}" aria-label="Checkbox for option">{{option}}
    </label>
</div>
{% endmacro %}

{% macro timer() %}
<div class="timer">
</div>
{% endmacro %}

{# Qid = Qloop.index, qid = loop.index #}
{% macro mcq(Qloop,d,cond) %}
{% set cond = cond|default(1) %}
<div class="row question"
     {% if not Qloop.first and cond %}
     style="display: none"
     {% endif%}
     q-id="{{Qloop.index}}">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                Question {{Qloop.index}}:<br>{{d.content|safe}}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
            {# <!-- #TODO - Stop showing db id to user  -->#}
            {% for o in d.option %}
            {{ option(d._id,loop.index,o) }}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{# Qid = Qloop.index, qid = loop.index #}
{% macro csv(Qloop,d,cond) %}
{% set cond = cond|default(1) %}
<div class="row question csv"
     {% if not Qloop.first and cond %}
     style="display: none"
     {% endif%}
     q-id="{{Qloop.index}}">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                Question {{Qloop.index}}:<br>{{d.content|safe}}
            </div>
        </div>
        <div class="row">
            {# <!-- #TODO - Stop showing db id to user  -->#}
            {% for o in d.option %}
            {{ option(d._id,loop.index,o) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro progressbar() %}
<div
        class="heart ldBar label-center"
        data-type="fill"
        data-value="100"
        data-path="M90.5,23.2c0-12.5-10.2-22.7-22.7-22.7
    c-13.6,0-20.9,8.6-22.3,13.8C44.3,8.9,
    35.1,0.5,23.2,0.5C10.7,0.5,0.5,10.7,
    0.5,23.2c0,22.2,36.5,45.3,45,55.9
    C53.5,67.3,90.5,46.3,90.5,23.2z"
        data-fill="data:ldbar/res,bubble(#F08080,	#FFFF00,50,1)"
        data-pattern-size="50"
></div>
{% endmacro %}