<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVP</title>
    <link rel="stylesheet" href="{{url_for('static',filename='game/css/pvp_game.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid middle-wrapper">
    <div class="row">
        <div class="col-12 col-md-3 side-wrapper">
        </div>
        <div class="col col-md-9 question-wrapper">
            <div class="question" data-label="question1" id="question1111"></div>
            <div class="question" data-label="question2" id="question2"></div>
            <div class="question" data-label="question3" id="question3"></div>
            <div class="question" data-label="question4" id="question4"></div>
            <div class="question" data-label="question5" id="question5"></div>
            <div class="question" data-label="question6" id="question6"></div>
            <div class="question" data-label="question7" id="question7"></div>
            <div class="question" data-label="question8" id="question8"></div>
            <div class="question" data-label="question9" id="question9"></div>
            <div class="question" data-label="question1" id="question11"></div>
            <div class="question" data-label="question2" id="question12"></div>
            <div class="question" data-label="question3" id="question13"></div>
            <div class="question" data-label="question4" id="question14"></div>
            <div class="question" data-label="question5" id="question15"></div>
            <div class="question" data-label="question6" id="question16"></div>
            <div class="question" data-label="question7" id="question17"></div>
            <div class="question" data-label="question8" id="question18"></div>
            <div class="question" data-label="question9" id="question19"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='game/js/pvp_game.js')}}"></script>
</body>
</html>