{%- block doc %}
<!doctype html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{%- block title %}{{title|default}}{%- endblock title %}</title>{# title 需要传参 #}
    {#- meta #}
    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}
    {#- css #}
    {%- block styles %}
    <! Bootstrap >
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <! basic setting >
    <link href="/static/style/navigation.css" rel="stylesheet">
    <link href="/static/style/basic.css" rel="stylesheet">
    {%- endblock styles %}
    {#- scripts #}
    {%- block head_scripts %}
    <! jquery & bootstrap>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock head_scripts %}
    {%- endblock head %}
  </head>
  <body{%- block body_attribs %}{%- endblock body_attribs %}>
    {%- block body %}
    {#- navbar #}
    {%- block navbar %}
    {%- endblock navbar %}
    {#- content #}
    {%- block content %}
    {%- endblock content %}
    {%- endblock body %}
    {#- inside scripts #}
    {%- block scripts %}
    <script src="/static/scripts/basic.js"></script>
    {%- endblock scripts %}
  </body>
{%- endblock html %}
</html>
{%- endblock doc %}