{% extends '/basic/BasicConfig.html' %}

{% block content%}
<body style="background:none;">

<div style="position:absolute;width:840px;height:700px;bottom:0px;left:0px;">
        <img src="{{url_for('static', filename='image/profile/book.png')}}" width="840px" height="700px" style="z-index:1;">
        <img src="{{url_for('static', filename='image/profile/c_question.png')}}" width="360px" height="300px" style="position:absolute;z-index:2;margin-top:450px;margin-left:-850px;">
        <div style="position:absolute;z-index:3;margin-top:-600px;margin-left:100px;">
            <div class="row" >
                <div class="col-xs-6" style="margin-top:20px;">
                    <div class="col-xs-2"><img src = "{{ img }}" style="width:115px;height:190px;margin-top:0px;margin-left:-53px;"></div>
                    <div class="col-xs-6" style="width:270px;">
                        <div class="panel-group" id="accordion" style="margin-left:5px;">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color:#F14A25;color:white;">
                                    <p class="panel-title" >
                                            ROLENAME : 
                                    </p>
                                </div>
                                    <div class="panel-body" style="color:#F14A25;">
                                        {{ username }}
                                    </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color:#F14A25;color:white;">
                                    <p class="panel-title">
                                            EMAIL : 
                                    </p>
                                </div>
                                <div class="panel-body" style="color:#F14A25;">
                                    {{ email }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" style="margin-top:-50px;margin-left:-14px;">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="background-color:#F14A25;color:white;">
                            <p class="panel-title">
                                    COURSE CAREER : 
                            </p>
                        </div>
                        <div class="panel-body" style="color:#F14A25;">
                            <div class = "row" align = "center">
                                <div class = "col-xs-3" align="center">
                                    CODE
                                </div>
                                <div class = "col-xs-6" align="center">
                                    NAME
                                </div>
                                <div class = "col-xs-3" align="center">
                                    FINISHED
                                </div>
                            </div>
                                {% for i in complete%}
                                    <div class = "row" align="center" style="margin-top:10px;">
                                        <div class = "col-xs-3" align="center">
                                            <p align="center">{{ get_course_code(i.course) }}</p>
                                        </div>
                                        <div class = "col-xs-6" align="center">
                                            <p align="center">{{ get_course_name(i.course) }}</p>
                                        </div>
                                        <div class = "col-xs-3" align="center">
                                            <p align="center">{{ i.overall }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" style="background-color:#F14A25;color:white;">
                            <p class="panel-title">
                                    LEVEL : 
                            </p>
                        </div>
                        <div class="panel-body" style="color:#F14A25;">
                            <div class = "row" align = "center">
                                <div class = "col-xs-3" align="center">
                                CODE
                                </div>
                                <div class = "col-xs-6" align="center">
                                NAME
                                </div>
                                <div class = "col-xs-3" align="center">
                                LEVEL
                                </div>
                            </div>
                            {% for i in levels%}
                                <div class = "row" align="center" style="margin-top:10px;">
                                    <div class = "col-xs-3" align="center">
                                        <p align="center">{{ get_course_code(i.course) }}</p>
                                    </div>
                                    <div class = "col-xs-6" align="center">
                                        <p align="center">{{ get_course_name(i.course) }}</p>
                                    </div>
                                    <div class = "col-xs-3" align="center">
                                        <p align="center">{{ i.level }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
{% endblock %}