{% extends '/basic/BasicConfig.html' %}

{% block navbar %}
    {% include('/basic/navigation.html') %}
{% endblock %}

{% block content%}
<div class="container">
    <h1>{{ name }} question_set </h1>
    {% for i in levels %}
        <div class='row'>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion in" 
                        href="#collapse{{ get_course_code(i.course) }}">
                            <h1>{{ get_course_code(i.course) + "    " + get_course_name(i.course) }}</h1>
                        </a>
                    </h4>
                </div>
                <div id={{ "collapse" + get_course_code(i.course) }} class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class = "row" align = "center">
                            <div class = "col-md-4" align="center">
                                <h4 align="center">问题名</h4>
                            </div>
                            <div class = "col-md-4" align="center">
                                <h4 align="center">答案</h4>
                            </div>
                            <div class = "col-md-4" align="center">
                                <h4 align="center">时间</h4>
                            </div>
                        </div>
                        {% for j in error_set %}
                            {% if get_question_course(j.question) == i.course %}
                                <div class="row" align="center">
                                    <div class = "col-md-4" align="center">
                                        <h4 align="center">{{ get_question_content(j.question) }}</h4>
                                    </div>
                                    <div class = "col-md-4" align="center">
                                        <h4 align="center">{{ correct_answer(j.answer) }}</h4>
                                    </div>
                                    <div class = "col-md-4" align="center">
                                        <h4 align="center">{{ j.date }}</h4>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}