{% extends '/basic/BasicConfig.html' %}

{% block content%}
<head>
    <style>
        ::-webkit-scrollbar { width: 0 !important; }
    </style>
</head>
<body style="background: none;">
    <div style="position:absolute;width:1200px;height:700px;bottom:100px;left:150px;">
        <img src="{{url_for('static', filename='image/profile/book.png')}}" width="100%" height="100%" style="z-index:1;">
        <div style="position:absolute;z-index:3;top: 80px; left:40px; padding: 20px">
            <div class="row" style="margin-left:30px;">
                <div class="col-xs-6" style="width:540px;margin-left:0px;margin-top:-70px;">
                    <h1 style="color:#F15A24"><strong>Error Set</strong></h1>
                    <ul class="nav nav-tab vertical-tab" role="tablist" id="vtab" style="width:480px;height:400px;background-color:F15A24;overflow-y:auto;overflow-x: hidden;">
                    {% for i in levels %}
                        <li role="presentation" style="background-color: #F15A24;width:480px; border-radius: 8px;margin-top:20px;padding:20px;display: inline-block;">
                            <a href="#tab{{ get_course_code(i.course) }}" aria-controls="inbox" role="tab" align='center'
                            data-toggle="tab" style="background-color:F15A24;color:white;font-size:150%;">{{ get_course_code(i.course) }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="tab-content vertical-tab-content col-xs-6" style="width:560px;margin-top:0px;">
                    
                        {% for i in levels %}
                            <div role="tabpanel" class="tab-pane" id={{ "tab" + get_course_code(i.course) }} style="list-style-type:none;margin:70px;border-radius: 8px;">
                                <div style="width:480px;height:550px;margin-left:-50px;margin-top:-100px;overflow-y:auto;overflow-x: hidden;">
                                {% for j in error_set %}
                                    {% if get_question_course(j.question) == i.course %}
                                    <a data-toggle="collapse" data-parent="#accordion"  href="#collapse{{loop.index}}">
                                    <div class='row'>
                                        <div class="panel" style="background-color: #F15A24;">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">
                                                <div>
                                                    <p align="center" style="color:white;">QUESTION  {{loop.index}}</p>
                                                </div>
                                                </h3>
                                            </div>
                                            </a>
                                            <div id={{ "collapse" + str(loop.index) }} class="panel-collapse collapse" style="color:white;">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="btn-group dropdown">
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-left:430px;margin-top:-70px;background-color:#F15A24;border:0px;" >
                                                            <img src="{{url_for('static', filename='image/profile/error_set_ref.png')}}" width="26px" height="21px">
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu" style="margin-left:320px;margin-top:-45px;">
                                                                <li>
                                                                    <a href="{{url_for('solutionss.solutions',question_id = j.question)}}">Find solution</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{url_for('knowledge_structure.specific_page',course = get_course_code(get_question_course(j.question)),chapter = get_chapter_name(get_question_chapter(j.question)),node = get_node_name(get_question_knowledge_node(j.question)))}}">Relevant knowledge</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="width:480px;margin-left:2px;">
                                                    <p align="center">{{ get_question_content(j.question) }}</p>
                                                    </div>
                                                    <ul class="list-group" style="background-color: #F15A24;">
                                                        {% for i in get_question_option(j.question) %}
                                                            {% if loop.index0 == get_question_correct_answer(j.question) %}
                                                            <li class="list-group-item" style="background-color: green;">
                                                                <p style="color:white">{{ chr(loop.index0+65) }}.   {{ i }}</p>
                                                            </li>
                                                            {% elif loop.index0 == int(j.answer) %}
                                                            <li class="list-group-item" style="background-color: #BE002F;">
                                                                <p style="color:white">{{ chr(loop.index0+65) }}.   {{ i }}</p>
                                                            </li>
                                                            {% else %}
                                                            <li class="list-group-item" style="background-color: #F15A24;">
                                                                <p style="color:white;">{{ chr(loop.index0+65) }}.   {{ i }}</p>
                                                            </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        <img style="position:absolute; z-index:2; left: -150px; bottom: -100px; height: 380px; width: 350px" src="{{url_for('static', filename='image/profile/c_question.png')}}" width="100%" height="100%"/>
    </div>
</body>
{% endblock %}