{% extends '/basic/BasicConfig.html' %}

{% block head_scripts %}
{{ super() }}
<script src="{{url_for('static',filename='scripts/profile/html2canvas.min.js')}}"></script>
<script src="{{url_for('static',filename='scripts/profile/canvas2image.js')}}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
<style>
body {
    background: none;
}

.tangerine {
    font-family: "Roboto", sans-serif;
}

.use_color{
    color: #662D91;
}

.use_color2{
    color:#f15a24;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.clip_css {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 90%;
    max-width: 90%;
}

.bottom_image{
    position: absolute;
    bottom: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.left-element {
    background: green;
    display: inline-block;
    float: left;
}

.right-element {
    padding-left: 150px;
    display: inline-block;
    float: left;
}

tr{
    height:50px;
}

</style>
{% endblock %}

{% block scripts %}
<script>
function makeScreenshot() {
    html2canvas(document.getElementById("screenshot"), {scale: 1}).then(canvas => {
        document.body.appendChild(canvas);
        Canvas2Image.saveAsJPEG(canvas, 840, 700)
    });

}


var total_num = {{len(course_code_name_list)}};
for (i = 0; i < total_num; i++){
    document.getElementById("rank_"+i).style.display = "none";
}


function expand_collapse(id){
    for (i=0; i<total_num; i++){
        if (id != i){
            document.getElementById("rank_"+i).style.display = "none"

        }
        else{
            if (document.getElementById("rank_"+i).style.display === "block"){
                document.getElementById("rank_"+i).style.display = "none";
            }
            else{
                document.getElementById("rank_"+i).style.display = "block";
            }
        }
    }
}

</script>
{% endblock %}

{%- block content %}
<div style="position: absolute; width: 1200px; height: 700px; bottom:0; left:0;" class="tangerine" id="screenshot">
    <img style="z-index:1" src="{{url_for('static',filename='image/profile/clip.png')}}" width="100%" height="100%px" alt="clip board picture"/>
    <img style="position:absolute; z-index:2; margin-top:450px; margin-left:-850px" src="{{url_for('static', filename='image/profile/c_rank.png')}}" width="300" height="250"/>
    <div style="position:absolute; z-index:3; margin-top:-600px; margin-left:30px">
        <h1 class="tangerine use_color2"><b>Rank</b></h1>
        <h4 class="use_color">Choose course here</h4><br>

        <div class="container">
            <div class="left-element w3-bar-block w3-sand" id="ranking_node">
                {% for index, course in enumerate(course_code_name_list) %}
                    <button class="use_color w3-bar-item w3-border w3-button w3-padding" align="center" id="{{index}}" onclick="expand_collapse(this.id)"><i class="fa fa-diamond fa-fw"></i>
                        {{course[0]}}
                    </button>
                {% endfor %}
            </div>
            <div class="right-element use_color">
                {% for index, position in enumerate(position_list) %}
                    <div id="rank_{{index}}" style="display:none">
                        <table class="w3-table w3-border w3-centered w3-hoverable w3-bordered">
                            <caption class="use_color w3-large">{{course_code_name_list[index][0]}}</caption>
                            <col width="100px">
                            <col width="150px">
                            <col width="200px">
                            {% for person in total_rank_list[index] %}
                                <tr>
                                    {% if person[0] <= 3 %}
                                        <th>
                                            <p class="w3-xlarge" style="font-style: italic">{{person[0]}}</p>
                                        </th>
                                        <th>
                                            <p class="w3-large" style="padding-top:5px">{{person[1]}}</p>
                                        </th>
                                        <th>
                                            {% if person[1] == username %}
                                                <p class="w3-large" style="font-style:italic">&#x2190 You are here!</p>
                                            {% endif %}
                                        </th>
                                    {% else %}
                                        <th>
                                            <p class="w3-large" style="font-style:italic">{{person[0]}}</p>
                                        </th>
                                        <th>
                                            <p class="w3-large">{{person[1]}}</p>
                                        </th>
                                        <th>
                                            {% if person[1] == username %}
                                                <p class="w3-large" style="font-style:italic">&#x2190 You are here!</p>
                                            {% endif %}
                                        </th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}