{% extends '/basic/BasicConfig.html' %}

{% block styles%}
{{ super() }}
<link href="/static/style/HUD.css" rel="stylesheet">
<link href="/static/style/font.css" rel="stylesheet">
<style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(187, 186, 188); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    #field {
        position: absolute;
        right: 20px;
        bottom: 100px;
        border: 1px solid black;
        background-color: white;
    }

    .pop_body {
        background-color: white;
        top:0;
        right:0;
        left:0;
        bottom:0;
        margin: auto;
        position: absolute;
        border-radius: 1%;
        width: 50%;
        height: 50%;
        padding:1%;
    }

    #mask {
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
    }
</style>
{% endblock %}

{% block head_scripts %}
{{ super() }}
<script src="../../static/scripts/town/town.js"></script>
<script src="../../static/scripts/town/pop_page.js"></script>
{% endblock %}

{% block scripts %}
<script>
let username = '{{ username }}';
{%- if level %}
let level = {{ level.level }};
let exp = {{ level.exp }};
let next_level = {{ level.next_level }};
let rate = exp / next_level * 100;
$('.HUD-process').css('width', exp.toString()+'%');
$('.HUD-heading').text(username);
$('#level').text(level);
$('#next_exp').text(next_level);
{%- else %}
$('.HUD-process').css('width', '0');
$('.HUD-heading').text(username);
$('#level').text(1);
$('#next_exp').text(100);
{%- endif %}
</script>
{% endblock %}

{% block content%}
    {% include('/basic/nav_buttons.html')%}
    <img src="../../static/image/town/town.png" width="1440" height="821" style="z-index:-100;position:absolute;left:0;top:0">
    <div class="pop_pvp_wrapper">
        {% include "/game/pop_pvp.html" ignore missing%}
    </div>

    <div class="HUD">
        <div class="HUD-avatar">
        </div>
        <div class="HUD-status">
            <div class="offset">
                <div class="HUD-heading">XIN YUAN</div>
                <div class="HUD-level">Lv <span id="level">6</span></div>
            </div>
            {%- if course %}
            <div class="HUD-exp">
                <div class="HUD-exp-shadow"></div>
                <span class="HUD-p-content"><b>next exp: <span id="next_exp">100</span></b></span>
                <div class="HUD-process"></div>
            </div>
            {%- endif %}
        </div>
    </div>

    <div class="walk_show">
        <canvas  id = 'c1' width="1420" height="760"></canvas>
    </div>

    <button id="field" class="btn btn-default">field</button>

    <ul id="messages"></ul>
    <form action="">
        <input type="text" id="myMessage" autocomplete="off" />
        <button id="sendbutton">Send</button>
    </form>
    <div id="pop_page" style="display: none">
        <div id="mask"></div>
        <div class="pop_body">
            <div class="panel-group col-lg-6" id="beginner">
                <h1>Beginner</h1>
                {% for chapter in chapters %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#beginner"
                               href="#{{ chapter._id }}">
                                {{ chapter['name'] }}
                            </a>
                        </h4>
                    </div>
                    <div id="{{ chapter._id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                            {% for node in get_node({'chapter': chapter['_id']}) %}
                            <li><a href="/game/beginner/{{node['_id']}}">{{ node['name'] }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="panel-group col-lg-6" id="random">
                <h1>Random</h1>
                {% for chapter in chapters %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/game/random/{{chapter['_id']}}">
                                {{ chapter['name'] }}
                            </a>
                        </h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
