{% extends '/basic/BasicConfig.html' %}

{% block styles%}
{{ super() }}
<link href="/static/style/HUD.css" rel="stylesheet">
<link href="/static/style/font.css" rel="stylesheet">
<link rel="stylesheet" href="/static/style/town/town.css">
{% endblock %}

{% block head_scripts %}
{{ super() }}
<script src="../../static/scripts/town/town.js"></script>
<script src="../../static/scripts/town/pop_page.js"></script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
let username = '{{ username }}';
{%- if level %}
let level = {{ level.level }};
let exp = {{ level.exp }};
let next_level = {{ level.next_level }};
let rate = exp / next_level * 100;
$('.HUD-process').css('width', exp.toString()+'%');
$('.HUD-heading').text(username);
$('#level').text(level);
$('#next_exp').text(next_level);
{%- else %}
$('.HUD-process').css('width', '0');
$('.HUD-heading').text(username);
$('#level').text(1);
$('#next_exp').text(100);
{%- endif %}
</script>
{% endblock %}

{% block content%}
{% include('/basic/nav_buttons.html')%}
<div class="HUD">
    <div class="HUD-avatar">
    </div>
    <div class="HUD-status">
        <div class="offset">
            <div class="HUD-heading">XIN YUAN</div>
            <div class="HUD-level">Lv <span id="level">6</span></div>
        </div>
        {%- if course %}
        <div class="HUD-exp">
            <div class="HUD-exp-shadow"></div>
            <span class="HUD-p-content"><b>next exp: <span id="next_exp">100</span></b></span>
            <div class="HUD-process"></div>
        </div>
        {%- endif %}
    </div>
</div>
<div class="pop_pvp_wrapper">
    {% include "/game/pop_pvp.html" ignore missing%}
</div>

<div class="containers">
    <button id="field" class="btn btn-default">field</button>
    <div class="character">
        <img src="/static/image/town/c_town.png" alt="" height="100%" width="100%">
    </div>
    <div class="field">
        <img src="/static/image/town/field.png" alt="" height="100%" width="100%">
    </div>
    <input type="text" class="form-control chat-input" placeholder="You can chat here....">
</div>
{% endblock %}
