/*.row {*/
/*    background-color: greenyellow;*/
/*    border: solid 2px red;*/
/*}*/

.next {
    right: 20px;
    bottom: 20px;
    position: fixed;
}

.timer {
    top: 40%;
    zoom: 0.75;
    -moz-transform: scale(0.75);
    margin: auto;
    width: fit-content;
}

.flip-clock-label {
    font-size: 2em !important;
}

.ldBar-label:after {
    content: " HP" !important;
}

.ldBar-label {
    white-space: nowrap;
}

.crop {
    height: 300px;
    overflow: hidden;
}

.monster, .hero {
    height: 300px;
}

/*.monster{*/
/*    float: right;*/
/*}*/

.hero {
    height: 300px;
    margin-left: -60px;
    margin-top: -60px;
}

.mw-50 {
    min-width: 50%;
}

.grass {
    height: 100px;
    position: relative;
    top: 230px;
    z-index: 10;
    background-image: url("/static/game/image/grass.png");
    background-repeat: repeat-x;
    background-size: 30%;
}

.hero {
    zoom: 1.5;
    -moz-transform: scale(1.5);
}

.heart {
    zoom:1.5;
    margin-top: 50%;
}

.mh-100vh{
    min-height: 100vh!important;
}

.middle-col{
    max-width: 1000px;
    margin:auto;
}
