{% extends '/basic/BasicConfig.html' %}

{% block navbar %}
    {% include('/basic/navigation.html') %}
{% endblock %}

{% block content %}
    <style>
        body{
            {#background: url("../../static/image/guide/bgd9.jpg") no-repeat center center;#}
            background-size: cover;
            padding: 50px;
            background-attachment:fixed;
            user-select: none;
        }
        .containers{
            width: 440px;
            height: 480px;margin-top:70px; background: rgba(0, 0, 0, 0.7);
            color: #ffffff;
            -webkit-box-shadow: 14px 13px 19px 1px rgba(0,0,0,0.71);
            -moz-box-shadow: 14px 13px 19px 1px rgba(0,0,0,0.71);
            box-shadow: 14px 13px 19px 1px rgba(0,0,0,0.71);
            border-radius: 10px;
            transition: box-shadow .30s;
        }
        .container:hover{
            box-shadow: #444444 5px 5px 25px;
        }
    </style>
    <body>
        <div class="row" style="text-align: center;align-content:center; padding-left: 30px; margin:30px 70px 10px 450px; height:20px; width: 830px">
            <div class="col-md-6">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                             {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="containers">
            <h1 style="text-align: center">Change Your Role</h1>
            <div class="row">
                <div class="col-md-6" style="align-content:center; padding: .1px; margin:30px 70px 10px 110px">
                    {% import 'bootstrap/wtf.html' as wtf %}
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </body>

{% endblock %}