{% extends '/basic/BasicConfig.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    {% include('/basic/navigation.html') %}
{% endblock %}

{% block content %}
    <style>
        .out{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .containers{
            position: relative;
            width: 900px;
            height: 550px;
            margin: auto;
            background: #ffffff;
            color: #000000;
            border-radius: 15px;
            margin-top: 30px;
        }
        .flash{
            position: fixed;
            top: 53px;
            width: 2000px;
            text-align: center;
            left: 500px;
        }
        .profile{
            width: 300px;
            padding-top: 100px;
            margin-left: 80px;
        }

        .submit{
            background-color: rgb(0, 77, 153);
            color: white;
            font-family: "Roboto Light";
            margin-top: 20px;
            height: 45px;
            border-radius: 10px;
        }
        .img{
            position: absolute;
            background: url("../../static/image/guide/big.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 350px;
            height: 450px;
            top: 55px;
            left: 480px;
        }
        .h1{
            margin-bottom: 50px;
        }
    </style>
    <body>
        <div class="out">
            <div class="flash row" style="text-align: center;align-content:center; padding-left: 30px; margin:30px 70px 10px 450px; height:20px; width: 830px">
            <div class="col-md-6">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category}}">
                             {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="containers">
            <div class="profile">
                <h1 class="h1" style="text-align: center; font-size: 30px">Password Reset</h1>
                <div class="row">
                    <form class="form" method="POST" enctype=multipart/form-data>
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.password, class="form-control password") }}
                        {{ wtf.form_field(form.confirm, class="form-control password") }}
                        {{ wtf.form_field(form.submit, class="form-control submit") }}
                    </form>
                </div>
            </div>
            <div class="img">
            </div>
        </div>
        </div>

    </body>
{% endblock %}