{% extends '/basic/BasicConfig.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    {% include('/basic/navigation.html') %}
{% endblock %}

{% block content %}
    <style>
        .out{
            position:absolute;
            top:0;
            left:0;
            z-index: -1;
            height: 100%;
            width: 100%;
            min-height: 605px;
            min-width: 1024px;
            background-image: url('/static/image/guide/map-06.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: auto 100%;
            overflow: scroll;
        }
        .containers{
            position: relative;
            width: 900px;
            height: 550px;
            margin: auto;
            background: #ffffff;
            color: #000000;
            border-radius: 15px;
            margin-top: 110px;
        }
        .flash{
            position: fixed;
            top: 53px;
            width: 700px;
            text-align: center;
            left: 500px;
        }
        .profile{
            width: 300px;
            padding-top: 130px;
            margin-left: 80px;
        }

        .submit{
            background-color: rgb(0, 77, 153);
            color: white;
            font-family: "Roboto Light";
            margin-top: 20px;
            height: 45px;
            border-radius: 10px;
        }
        .img{
            position: absolute;
            background: url("../../static/image/guide/big.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 350px;
            height: 450px;
            top: 55px;
            left: 480px;
        }
        .h1{
            margin-bottom: 50px;
        }
    </style>
    <body>
        <div class="out">
            <div class="row flash">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category}}">
                             {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="containers">
            <div class="profile">
                <h1 class="h1" style="text-align: center; font-size: 30px">Password Reset</h1>
                <div class="row">
                    <form class="form" method="POST" enctype=multipart/form-data>
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.email, class="form-control email") }}
                        {{ wtf.form_field(form.submit, class="form-control submit") }}
                    </form>
                </div>
            </div>
            <div class="img">

            </div>
        </div>
        </div>

    </body>
{% endblock %}
