<!--
 Project           : COMP9323
 Author            : Heping Zhao
 Date created      : 25/10/2019
 Description       : signup page
-->
{% extends '/basic/BasicConfig.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
    {% include('/basic/navigation.html') %}
{% endblock %}

{% block content %}
    <style>
        .out{
            position:absolute;
            top:0;
            left:0;
            z-index: -1;
            height: 100%;
            width: 100%;
            min-height: 605px;
            min-width: 1024px;
            background-image: url('/static/image/guide/map-06.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: auto 100%;
            overflow: scroll;
        }
        .containers{
            position: relative;
            width: 1000px;
            height: 550px;
            margin: auto;
            margin-top: 110px;
            background: #ffffff;
            color: #000000;
            border-radius: 15px;

        }

        .form-control{
            width: 400px;
        }

        .submit{
            background-color: rgb(0, 77, 153);
            color: white;
            font-family: "Roboto Light";
            margin-top: 20px;
            height: 45px;
            border-radius: 10px;
        }
        .create-role{
            position: absolute;
            margin-left: 70px;
            float: left;
        }

        .img {
            width: 73px;
            margin-left: 20px;
        }
        .small-boy{
            background: url("../../static/image/guide/small.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 350px;
            height: 450px;
            margin-left: 570px;
            margin-top: 50px;
        }
        .file{
            float: right;
            margin-top: 90px;
            margin-left: 210px;
        }
        .otherfile{
            float: left;
            margin-top: 20px;
        }
        .flash{
            position: fixed;
            top: 53px;
            width: 700px;
            text-align: center;
            left: 500px;
        }
    </style>
    <body>
        <div class="out">
            <div class="row flash">
            <div class="col-md-8" style="">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category}}">
                             {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="containers">
            <div class="row proff">
                <div class="create-role">
                    <h2 style="font-family: 'Roboto Light'; font-size: 25px; font-weight: bold; padding-top: 15px">Create Your Character</h2>
                    <form class="form" method="POST" enctype=multipart/form-data>
                        {{ form.hidden_tag() }}
                        <div class="file">
                            <div class="file1">
                                <p style="font-family: 'Roboto Light'; font-size: 12px; font-weight: bold">Choose Your Avatar</p>
                                <input class="img" type="file" name="file" style="margin-top:20px;"/>
                            </div>
                        </div>
                        <div class="otherfile">
                            {{ wtf.form_field(form.username, class="form-control name") }}
                            {{ wtf.form_field(form.password, class="form-control password") }}
                            {{ wtf.form_field(form.confirm, class="form-control confirm") }}
                            {{ wtf.form_field(form.email, class="form-control email") }}
                            <p style="font-weight: bold">Gender</p>
                            <div class="btn-group" role="group" aria-label="...">
                                <input type="radio" name="submit" value="M"> Male<br>
                                <input type="radio" name="submit" value="F"> Female
                            </div>
                            {{ wtf.form_field(form.submit, class="form-control submit") }}
                        </div>

                    </form>
                </div>
                <div class="small-boy">

                </div>
            </div>
        </div>
        </div>

    </body>
{% endblock %}