{% extends '/basic/BasicConfig.html' %}

{% block navbar %}
    {% include('/basic/navigation.html') %}
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
        function openWin(){
            win=window.open('/guide/course_stru','newwindow','width=1760,height=1300');
        }
        function openWin1(){
            win1=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9020/?q=comp9020&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin2(){
            win2=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9021/?q=comp9021&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin3(){
            win3=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9311/?q=comp9311&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin4(){
            win4=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9321/?q=comp9321&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin5(){
            win5=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9024/?q=comp9024&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin6(){
            win6=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9313/?q=comp9313&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin7(){
            win7=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9318/?q=comp9318&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin8(){
            win8=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9319/?q=comp9319&ct=all','newwindow','width=1760,height=1300');
        }
        function openWin9(){
            win9=window.open('https://www.handbook.unsw.edu.au/postgraduate/courses/2020/COMP9444/?q=comp9444&ct=all','newwindow','width=1760,height=1300');
        }
    </script>
    <style>
    a{
        text-align: center;
        font-family: "Roboto Light";
        font-size: 15px;
        cursor: pointer;
    }
    .dropbtn {
        background-color: #ffb42e;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 25px;
        border-top: 5px solid #ffb42e;
        border-bottom: 5px solid #ffb42e;
        padding: 5px 0;
        background-clip:content-box;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 0px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 320px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    a:hover {background-color: #ffffff}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #F28C4C;
    }
    .main{
        text-align: center;
        font-size: 20px;
        font-family: "Roboto Light";
        font-weight: bold;
    }
    .containers{
        margin-left: 500px;
        margin-top: 500px;
    }

    </style>

{% endblock %}

{% block content %}
    <body>
        <div class="out">
            <div class="dropdown">
                <button class="dropbtn"></button>
                    <div class="dropdown-content">
                        <div class="panel-group" id="accordion"><div class="panel panel-default">
                            <div class="panel-heading" style="background-color: coral">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseOne" style="font-family: 'Roboto Light'; font-size: 20px;">
                                        Course Recommendation
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <a onclick="openWin()">Course Selection Guide</a>
                                </div>
                            </div>
                        </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffb42e">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" style="font-family: 'Roboto Light'; font-size: 18px">
                                    Level One Courses
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a onclick="openWin1()">COMP9020 Outline</a>
                                <a onclick="openWin2()">COMP9021 Outline</a>
                                <a onclick="openWin3()">COMP9311 Outline</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffb42e">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" style="font-family: 'Roboto Light'; font-size: 18px">
                                    Level Two Courses
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a onclick="openWin4()">COMP9321 Outline</a>
                                <a onclick="openWin5()">COMP9024 Outline</a>
                                <a onclick="openWin6()">COMP9313 Outline</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffb42e">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour" style="font-family: 'Roboto Light'; font-size: 18px">
                                    Level Three Courses
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a onclick="openWin7()">COMP9318 Outline</a>
                                <a onclick="openWin8()">COMP9319 Outline</a>
                                <a onclick="openWin9()">COMP9444 Outline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="containers" style="position:absolute; top:0; z-index: -1">
                {% for data in cour_list %}
                    <button class="button1" type="button">{{ data[0] }}</button>
                {% endfor %}
                <div class="b2">
                    <a href="{{ url_for('town.entry_town', course='COMP9020') }}">
                        <button class="button1" type="button">
                                COMP9020
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </body>
{% endblock %}