.containers {
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
    height: 100%;
    width: 100%;
    min-height: 605px;
    min-width: 1024px;
    background-image: url('/static/image/game/pvp_bg-10.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    overflow: scroll;
}

.containers::-webkit-scrollbar {
    display: none;
}

.middle-wrapper {
    /*width: 80vw;*/
    background-color: white;
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
    /*margin: 0 auto;*/
    max-width: 1200px;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.question-wrapper {
    /*width: 80%;*/
    border-left: 5px solid #EAE1D3;
}

.side-wrapper {
    background-color: #FF931E;
    min-height: 300px;
    padding: 0 !important;
}

.question-block {
    /*width: 100%;*/
    min-height: 300px;
    border-top: 5px solid #EAE1D3;
    padding-bottom: 20px;
}

/*.question .row{*/
/*    display: block;*/
/*}*/

.side-wrapper a.active{
    background-color: #FFD0A6;
}

document,body {
    -ms-overflow-style: none; /*IE hide scroll bar*/
    scrollbar-width: none; /*firefox hide scroll bar*/
}

document::-webkit-scrollbar,window::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none; /* Safari and Chrome hide scroll bar*/
}

@media (max-width:540px) {
    .play-span {
        height: 100%;
        margin-right:1px ;
        padding: 8px 0;
        display: inline!important;
    }
        #navbarNavAltMarkup {
        overflow: scroll;
        max-height: calc(90vh - 4em);;
        -ms-overflow-style: none; /*IE hide scroll bar*/
        scrollbar-width: none; /*firefox hide scroll bar*/
    }

    #navbarNavAltMarkup::-webkit-scrollbar {
        display: none; /* Safari and Chrome hide scroll bar*/
    }

    .side-wrapper {
        position: fixed!important;
        z-index: 10;
        width: 100vw;
        /*width: 100%;*/
        top: 0;
        max-height: 90vh;
    }
}

@media (min-width: 768px) {
    #navbarNavAltMarkup {
        display: block !important;
        height: calc(100% - 1em);
        overflow: scroll;
        -ms-overflow-style: none; /*IE hide scroll bar*/
        scrollbar-width: none; /*firefox hide scroll bar*/
    }
    #navbarNavAltMarkup::-webkit-scrollbar {
        display: none; /* Safari and Chrome hide scroll bar*/
    }

    #ScrollNav .navbar-nav,
    #ScrollNav {
        display: block !important;
    }

    #ScrollNav {
        position: fixed;
        /*width: 100%;*/
        top: 10vh;
        height: 80vh;
    }

    .play-span {
        height: 100%;
        margin-right:1px ;
        padding: 8px 0;
    }
}
@media (max-width: 768px) and (min-width: 540px) {
    #navbarNavAltMarkup {
        overflow: scroll;
        max-height: calc(90vh - 4em);;
        -ms-overflow-style: none; /*IE hide scroll bar*/
        scrollbar-width: none; /*firefox hide scroll bar*/
    }

    #navbarNavAltMarkup::-webkit-scrollbar {
        display: none; /* Safari and Chrome hide scroll bar*/
    }

    .side-wrapper {
        position: fixed!important;
        z-index: 10;
        width: 100vw;
        /*width: 100%;*/
        top: 0;
        max-height: 90vh;
    }

    .play-span{
        display: block!important;
        margin: 0 -8px;
    }
}

.invisible{
    visibility: hidden;
}
