.text-box {
    padding: 20px;
    height: 600px;
    background-color: white;
    transition: all 0.5s ease;
}

.text-box:hover{
    color: white;
    background-color: black;
}

.stripe {
    background-image:
        repeating-linear-gradient(45deg, red 0px, yellow 10px, transparent 10px, transparent 20px);
<<<<<<< Updated upstream
}
=======
}


/* stander button */
.stn-button {
    position: relative;
    height: calc(40px + 1vmin);
    width: calc(40px + 1vmin);
    color: white;
    border-radius: 100%;
    background-color: #FF931E;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
}

.stn-button div:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 70%;
    transform: translate(-50%, -50%);
}

.stn-button:hover {
    transform: scale(1.2);
}

.stn-button:hover .illustration {
    visibility: visible;
    opacity: 1;
}

/* ------- hover page ------- */
.rank_hover {
    display: none;
    position: absolute;
    bottom: 0;
    height: 800px;
    width: 840px;
    left: 50%;
    transform: translateX(-50%);
}

.detail_hover {
    display: none;
    position: absolute;
    bottom: 0;
    height: 700px;
    width: 840px;
    left: 50%;
    transform: translateX(-50%);
}

.question_set_hover {
    display: none;
    position: absolute;
    bottom: 0;
    height: 700px;
    width: 840px;
    left: 50%;
    transform: translateX(-50%);
}
>>>>>>> Stashed changes
