.HUD {
    position: fixed;
    right:50px;
    top:50px;
    background-color: #FF931E;
    height: 100px;
    width: 280px;
    border-radius: 8px;
    font-family: "candy_beans";
    box-shadow: 5px 5px 1px rgba(0,0,0,0.1);
    animation: HUD-animate 0.6s forwards ease;
}

@keyframes HUD-animate {
    from {
        opacity: 0;
        transform: scale(0.8)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.HUD .HUD-avatar {
    position: absolute;
    right: 10px;
    top: 15px;
    background-color: #F28C4C;
    height:70px;
    width: 70px;
    border-radius: 6px;
}

.HUD .HUD-status {
    position: absolute;
    top:15px;
    left:10px;
    width: 170px;
    color: white;
    height: 70px;
}

.HUD-status .offset {
    position: absolute;
    left:4px;
}

.HUD-heading{
    height: 18pt;
    font-size: 16pt;
}

.HUD-level {
    height: 16pt;
    font-size: 14pt;
}

.HUD-exp {
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    height: 14px;
    width: 165px;
    background-color: #E6E6E6;
}

.HUD-exp .HUD-process {
    height:100%;
    width: 70%;
    border-radius: 15px;
    background-color: #CC2334;
}

.HUD-p-content {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:8pt;
}