.containers {
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    height: 100%;
    width: 100%;
    min-height: 605px;
    min-width: 1024px;
    background-image: url('/static/image/guide/map-06.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    overflow: scroll;
}

.containers::-webkit-scrollbar {
    display: none;
}

.layout {
    height:100%;
    width:calc(20% + 70vh);
    min-width: 600px;
    margin-left: auto;
    margin-right:auto;
}

.col-main {
    position: relative;
    height: 100%;
    width: 80%;
    float: left;
}

.col-pad {
    position: relative;
    height: 100%;
    width: 10%;
    float: left;
}

.cities {
    position: absolute;
    bottom: 17%;
    height: 35%;
    width: 100%;
}

/* ------- selectors ------- */
.selectors-l {
    position: absolute;
    color: white;
    font-size: calc(5vmin);
    top: 40%;
    left: -5%;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 10000;
}

.selectors-r {
    position: absolute;
    color: white;
    font-size: calc(5vmin);
    top: 40%;
    right: -5%;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 10000;
}

.selectors-l:hover {
    transform: scale(1.1);
}

.selectors-r:hover {
    transform: scale(1.1);
}

/* ------- course-pic-container ------- */
.courses {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

/* ------- Two HUD ------- */
.HUD {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: white;
    border-radius: calc(0.5vmin);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 2%;
}

.course-HUD {
    position: absolute;
    width: calc(300px + 2vmin);
    bottom: -10%;
    right: -25%;
    opacity: 0;
}

.course-HUD .description {
    margin-bottom: 5%;
}

.course-HUD b {
    font-size: 16pt;
}

.course-req {
    position: absolute;
    width: calc(150px + 2vmin);
    top: -5%;
    left: -5%;
    opacity: 0;
}

.course-req .heading {
    font-size: 14pt;
    margin-bottom: 5%;
}

.process {
    display: flex;
    align-items: center;
}

.process-body {
    border-radius: 15px;
    height: 10px;
    width:80%;
    background-color: #E6E6E6;
    float: left;
}

.process-body .bar{
    border-radius: 15px;
    height: 10px;
    width:30%;
    background-color: #ACDBE4;
}

.process-status {
    float: right;
    width: 10%;
    margin-left: 2%;
}

/* ------- buttons ------- */
/* stander button inherit from basic.css*/
.buttons {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* recommend */
#recommend {
    position: fixed;
    top: 2%;
    left: 2%;
    padding:0;
    margin:0;
}

.icn {
    display:inline-block;
    font-size: calc(16px + 1vmin);
    color:white;
    text-align: center;
}

.illustration {
    visibility: hidden;
    background-color: white;
    border-radius: calc(0.5vmin);
    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 120px;
    padding: 5px;
    color: black;
    font-size: 8pt;
    left: 60px;
    top: 12px;
    opacity: 0;
    transition: all 0.5s ease;
}

/* ------- change town ------- */
.courses:hover {
    transform: scale(1.05);
}

#courseHUD {
    animation: moves 1s forwards ease;
    animation-delay: 1s;
}

#preHUD {
    animation: moves2 1s forwards ease;
    animation-delay: 1s;
}

@keyframes moves {
    from{transform:translateX(-20%); opacity: 0} to {opacity: 1}
}

@keyframes moves2 {
    from{transform:translateX(30%); opacity: 0} to {opacity: 1}
}


/* ------- new ------- */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 10px;
    border: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto Light";
    font-size: 14px;
    cursor: pointer;
}

a:hover {transform: scale(1.1)}
.cc:hover {color: #F28C4C}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F28C4C;
}

.b1 {position:relative;
    height:3em; width:3em;
    outline:none; border:0;
    background: none;
    cursor:pointer;
    float: bottom;
}

.b1:before,
.b1:after { content:''; display: block; position: absolute; width:4px; height:12px; background: #ffbd36; border-radius: .3em; top:50%; left:50%; transition:all .3s ease-in-out;}


.b1:before { transform:translate(75%, -20%) rotate(-45deg);}
.b1:after { transform:translate(-75%, -20%) rotate(45deg);}
.b1:hover {
    color: #ba3a13;

    transform: translateY(-4px);
}
.bbb{
    margin: -235px 695px;
}
#background-pop{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#div-pop{
    background:#ffffff;
    width:1030px;
    height: 610px;
    z-index: 1;
    margin: 5% auto;
    overflow: auto;
    border-radius: 10px;
}
.div-content{
    width: auto;
    overflow: auto;
    height: 500px;
}

.div-content::-webkit-scrollbar{
    display: none;
}

.div-top1{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 184, 77);
    color: #ffffff;
}
#close-button{
    position: relative;
    right: 0;
    color: white;
    margin-left: 970px ;
    cursor: pointer;
    font-size: 20px;
}
#close-button:hover{
    color: #ba3a13;
}
.top-text{
    position: relative;
    font-family: "Roboto Light";
    font-size: 28px;
    font-weight: bold;
    margin-left: 290px;
    margin-top: -10px;
}
@-webkit-keyframes sheen {
    0% {
        -webkit-transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        -webkit-transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}
@keyframes sheen {
    0% {
        -webkit-transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        -webkit-transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}

.wrapper1 {
    position: relative;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.button {
    padding: 0.55em 1.5em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 14px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    -webkit-transform: skewX(-45deg) translateX(0);
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.button:hover {
    background-color: #ffb42e;
    color: #fff;
}
.button:hover:before {
    -webkit-transform: skewX(-45deg) translateX(13.5em);
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.6s ease-in-out;
}